@page "/usuarios"
@inject HttpClient Http

<PageTitle>Lista de Usuarios</PageTitle>

<h1>Lista de Usuarios</h1>

@if (Usuarios == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudDataGrid 
    @ref="_elementGrid"
    T="AuthUserViewModel"
    Items="@Usuarios"
    EditMode="DataGridEditMode.Form"
    StartedEditingItem="@StartedEditingItem" 
    CanceledEditingItem="@CanceledEditingItem" 
    CommittedItemChanges="@CommittedItemChanges"
    Bordered="true"
    Dense="true"
    EditTrigger="DataGridEditTrigger.Manual"
    RowKey="x => x.Email">

    <Columns>
        <PropertyColumn Property="x => x.Email" />
        <PropertyColumn Property="x => x.UserName" />
        <TemplateColumn Title="Ações" CellClass="d-flex justify-between">
            <CellTemplate>
                <MudIconButton 
                    Size="@Size.Small" 
                    Icon="@Icons.Material.Outlined.Edit" 
                    OnClick="@(() => EditarItem(context.Item))"
                    @onclick:stopPropagation="true" />
                <MudIconButton 
                    Size="@Size.Small" 
                    Icon="@Icons.Material.Outlined.Delete"
                    @onclick:stopPropagation="true" />
            </CellTemplate>
        </TemplateColumn>
    </Columns>

    <EditFormTemplate Context="editContext">
        <MudTextField @bind-Value="editContext.Item.Email" Label="Email" />
        <MudTextField @bind-Value="editContext.Item.UserName" Label="Usuário" />

        <MudButton OnClick="@editContext.Actions.CommitItemChangesAsync">
            Salvar
        </MudButton>
        <MudButton OnClick="@editContext.Actions.CancelEditingItemAsync">
            Cancelar
        </MudButton>
    </EditFormTemplate>

</MudDataGrid>
}

@code {
    private List<AuthUserViewModel>? Usuarios;
    private List<string> _events = new();
    private MudDataGrid<AuthUserViewModel> _elementGrid = default!;

    protected override async Task OnInitializedAsync()
    {
        var response = 
        await Http.GetFromJsonAsync<ResponsePayload<List<AuthUserViewModel>>>("api/auth/listar-usuarios");
        if (response.Success)
        {
            Usuarios = response.Data;
        } else
        {
            Usuarios = new List<AuthUserViewModel>();
        }
    }

    private async Task EditarItem(AuthUserViewModel item)
    {
        await _elementGrid.SetEditingItemAsync(item);
        Console.WriteLine("Editou!");
    }

    // events
    private Task StartedEditingItem(AuthUserViewModel item)
    {
        _events.Insert(0, $"Event = StartedEditingItem, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
        return Task.CompletedTask;
    }

    private Task CanceledEditingItem(AuthUserViewModel item)
    {
        _events.Insert(0, $"Event = CanceledEditingItem, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
        return Task.CompletedTask;
    }

    private Task<DataGridEditFormAction> CommittedItemChanges(AuthUserViewModel item)
    {
        _events.Insert(0, $"Event = CommittedItemChanges, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
        return Task.FromResult(DataGridEditFormAction.Close);
    }
    
    public class AuthUserViewModel
    {
        public string UserName { get; set; }
        public string Email { get; set; }
    }

    public class ResponsePayload<T>
    {
        public bool Success { get; set; }
        public T Data { get; set; }
    }
}
