@page "/usuarios"

@inject IDialogService DialogService

@using Auth.Client.Dialogs;
@using System.Net.Http.Json
@inject IApiService _apiService;
@inject ISnackbar Snackbar;

@if (Usuarios == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudDataGrid @ref="_elementGrid"
                 T="AuthUserViewModel"
                 Items="@Usuarios"
                 EditMode="@DataGridEditMode.Form"
                 ReadOnly="false"
                 Bordered="true"
                 Dense="true"
                 EditTrigger="DataGridEditTrigger.Manual"
                 RowClick="OnRowClick">

        <ToolBarContent>
            <MudText Typo="Typo.h6">Lista de usuarios</MudText>
            <MudSpacer />
            <MudButtonGroup Class="ma-0 pa-0" Color="Color.Success" Variant="Variant.Filled">
                <MudButton OnClick="NewItemAsync">
                    Criar Novo Usuario
                </MudButton>
            </MudButtonGroup>
        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="x => x.Nome" />
            <PropertyColumn Property="x => x.Email" />
            <TemplateColumn Title="Sistemas">
                <CellTemplate Context="context">
                    @if (context.Item.Systems != null && context.Item.Systems.Any())
                    {
                        @string.Join(", ", context.Item.Systems.OrderBy(s => s.Name).Select(s => s.Name))
                    }
                    else
                    {
                        <MudText Color="Color.Secondary">Nenhum sistema</MudText>
                    }
                </CellTemplate>
            </TemplateColumn>

            <TemplateColumn Title="Ações" CellClass="d-flex justify-between">
                <CellTemplate>
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="@(() => DeleteItem(context.Item))" />
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>

}

@code {
    private List<AuthUserViewModel> Usuarios;
    private List<string> _events = new();
    private MudDataGrid<AuthUserViewModel> _elementGrid = default!;

    protected override async Task OnInitializedAsync()
    {
        var result = await _apiService.GetAsync<IEnumerable<AuthUserViewModel>>("api/auth/listar-usuarios");
        Usuarios = result.Success ? result.Data.ToList() : new();

        if (!result.Success)
            MostraErros(result.Errors);

    }

    private async Task OnRowClick(DataGridRowClickEventArgs<AuthUserViewModel> args)
    {
        var response = await _apiService.GetAsync<AuthUserViewModel>($"api/auth/details-user/{args.Item.Id}");

        if (!response.Success)
        {
            MostraErros(response.Errors);
            return;
        }

        var parameters = new DialogParameters
        {
            ["Model"] = response.Data
        };

        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Medium,
            FullWidth = true
        };

        await DialogService.ShowAsync<DetailUserDialog>("Detalhes do Usuário", parameters, options);
    }

    private async Task NewItemAsync()
    {
        var options = new DialogOptions
        {
            FullWidth = true
        };
        var dialog = await DialogService.ShowAsync<CreateUserDialog>("", options);
        var result = await dialog.Result;

        if(!result.Canceled && result.Data is AuthUserViewModel novoUsuario)
        {
            Usuarios.Add(novoUsuario);
            StateHasChanged();
        }
    }

    private async Task DeleteItem(AuthUserViewModel item)
    {
        bool? confirm = await DialogService.ShowMessageBoxAsync(
                title: "Confirmar exclusão",
                markupMessage: (MarkupString)$"Deseja excluir o usuário <b>{item.Nome}</b> permanentemente?",
                yesText: "Excluir",
                noText: "Cancelar");

        if (confirm is not null && confirm == true)
        {
            var response = await _apiService.DeleteAsync($"api/auth/excluir/{item.Id}");

            if (response.Success)
            {
                Usuarios.Remove(item);
                StateHasChanged();
            }
        }
    }

    private void MostraErros(IEnumerable<string> erros)
    {
        foreach (var erro in erros)
            Snackbar.Add(erro, Severity.Error);
    }
}
