@page "/usuarios"

@inject IDialogService DialogService

@using Auth.Client.Dialogs;
@using System.Net.Http.Json
@inject HttpClient httpClient

@if (Usuarios == null )
{
    <p><em>Loading...</em></p>
} else
{
    <MudDataGrid 
        @ref="_elementGrid" 
        T="AuthUserViewModel"
        Items="@Usuarios" 
        EditMode="@DataGridEditMode.Form"
        ReadOnly="false"
        StartedEditingItem="@StartedEditingItem" 
        CanceledEditingItem="@CanceledEditingItem" 
        CommittedItemChanges="@CommittedItemChanges"
        Bordered="true" 
        Dense="true" 
        EditTrigger="DataGridEditTrigger.Manual"
        RowClick="OnRowClick">

        <ToolBarContent>
            <MudText Typo="Typo.h6">Lista de usuarios</MudText>
            <MudSpacer />
            <MudButtonGroup Class="ma-0 pa-0" Color="Color.Success" Variant="Variant.Filled">
                <MudButton OnClick="NewItemAsync">
                    Criar Novo Usuario
                </MudButton>
            </MudButtonGroup>
        </ToolBarContent>
        <Columns>
            <TemplateColumn hidden="true">
                <EditTemplate>
                    @* Conteúdo extra exibido dentro do form de edição *@
                    <MudText Typo="Typo.h6" Class="mb-2">@titleModal()</MudText>
                </EditTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.Nome" />
            <PropertyColumn Property="x => x.Email" />

            <TemplateColumn Title="Ações" CellClass="d-flex justify-between">
                <CellTemplate>
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="@(() => DeleteItem(context.Item))" />
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>

}

@code {
    private List<AuthUserViewModel> Usuarios;
    private List<string> _events = new();
    private MudDataGrid<AuthUserViewModel> _elementGrid = default!;
    private bool isCreating;
    private string titleModal() => 
        isCreating ? "Criar um novo usuário" : "Editar usuário";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ResponsePayload<IEnumerable<AuthUserViewModel>> response =
                await httpClient.GetFromJsonAsync<ResponsePayload<IEnumerable<AuthUserViewModel>>>("api/auth/listar-usuarios");
            Usuarios = response.Data.ToList();
        } catch
        {
            Usuarios = new List<AuthUserViewModel>();
        }
    }

    private async Task OnRowClick(DataGridRowClickEventArgs<AuthUserViewModel> args)
    {
        AuthUserViewModel user;

        try
        {
            ResponsePayload<AuthUserViewModel> response = 
                await httpClient.GetFromJsonAsync<ResponsePayload<AuthUserViewModel>>($"api/auth/details-user/{args.Item.Id}");
            user = response.Data;
        } catch
        {
            user = new();
            user.Email = "Erro ao buscar!";
            user.Nome = "Erro ao buscar!";
        }

        var parameters = new DialogParameters
        {
            ["Model"] = user
        };

        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Medium,
            FullWidth = true
        };

        await DialogService.ShowAsync<DetailUserDialog>("Detalhes do Usuário", parameters, options);
    }

    private async Task NewItemAsync()
    {
        var elem = new AuthUserViewModel();
        isCreating = true;
        await DialogService.ShowAsync<CreateUserDialog>();
    }

    private void DeleteItem(AuthUserViewModel item)
    {
        Usuarios.Remove(item);
    }

    // events
    private void StartedEditingItem(AuthUserViewModel item)
    {
        _events.Insert(0, $"Event = StartedEditingItem, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
    }

    private void CanceledEditingItem(AuthUserViewModel item)
    {
        // update code for backing data here if needed
        _events.Insert(0, $"Event = CanceledEditingItem, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
        isCreating = false;
    }

    private Task<DataGridEditFormAction> CommittedItemChanges(AuthUserViewModel item)
    {
        // update code for the backing data here
        _events.Insert(0, $"Event = CommittedItemChanges, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
        isCreating = false;

        return Task.FromResult(DataGridEditFormAction.Close);
    }

    public class ResponsePayload<T>
    {
        public bool Success { get; set; }
        public T Data { get; set; }
    }
}
